<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>mijikai</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"/>
    <script src="/static/lib/angular/angular-resource.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/ZeroClipboard.min.js"></script>

    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/bootstrap.min.js"></script>

    <stylesheet src="/static/lib/bootstrap/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/url_short.css"/>

    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body ng-app="UrlShortener">
    <div class="wrap">
        <div class="logo">
            <h1><a href='/' class="unstyledlink">mijikai</a></h1>
            <h2>A high-performance URL shortener backed by redis</h2>
        </div>
        <div>
            <h4>Sorry, that is not a valid short url.</h4>
        </div>
        <div class="about">
            <p>
            <a href="https://github.com/neeraj2608/redis-url-shorten">Open source project</a> by <a href="https://www.github.com/neeraj2608">Neeraj Rao</a>.
            <p>Built with <a href="http://angularjs.org">AngularJS</a> and <a href="http://flask.pocoo.org">Flask</a></p>
            </p>
        </div>
    </div> <!-- end of wrap -->
</body>
</html>
