@import url(http://fonts.googleapis.com/css?family=PT+Serif:800italic,400,800,700);
@import url(http://fonts.googleapis.com/css?family=Arvo:800normal,400,800,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:800normal,400,800,700);

body {
    font-family: 'PT Serif', serif;
    height: 100%;
    text-align: center;
    color: #837C7C;
}

a {
    color: #EE6E6E;
    padding: 3px 1px;
    font-weight:bold;
}

.logo {
    margin: 10px auto;
}

h1 {
    font-family: 'Arvo', 'Open sans', Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-style: normal;
    color: #EE6E6E;
    margin: 0px;
    margin-bottom: 2%;
}

h2 {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    font-style: normal;
    margin: 0px;
    margin-bottom: 2%;
}

.wrap {
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div.form {
    width: 50%;
    margin-left: 25%;
}

div.result {
    font-size: 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 50%;
    border: 0;
    padding-top: 10px;
    outline: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 25%;
}

/*div.longurl {
    text-shadow: 0 1px 5px #915454;
    font-family: 'Droid Sans', 'Open sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.16);
    padding:0px;
}*/

div.shorturl {
    font-family: 'Droid Sans', 'Open sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding:0px;
}

div.about {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0px;
}

.url {
    font-size: 16px;
    letter-spacing: 1px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 80%;
    height: 40px;
    float: left;
    border: 0;
    color: #9B9494;
    background: rgba(160, 160, 160, 0.1);
    padding: 10px;
    outline: 0px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2) inset, inset 0 -1px 0px rgba(255,255,255,0.3);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: left;
}

.submit {
    height: 40px;
    width: 20%;
    cursor: pointer;
    margin: 0;
    border: 0;
    padding: 6px 12px;
    font-size: 16px;
    -webkit-transition: .1s;
    transition: .1s;
    background-color: #EB5050;
    color: #FFFFFF;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    font-family: 'Droid Sans', sans-serif;
}

button#copy_short_url{
    background-color: #50C0EB;
}

.submit:hover {
    background-color: #F65C5C;
    border-color: #00284f;
    color: #fff;
    opacity: 1.2;
    filter: alpha(opacity=120);
}

.submit:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .75;
    filter: alpha(opacity=75);
}

.error-block {
    width: 50%;
    margin: 0px auto;
    color: #CA2E2E;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.16);
}
